.creditos-container {
    margin: 20px;
    padding-top: 0px;
    font-family: Arial, sans-serif;
}

#creditos_section {
    margin: 0px;
}

.creditos-container h1 {
    color: white;
    font-size: 3em;
}

.creditos-item {
    margin-bottom: 10px;
}

.creditos-item h2 {
    font-size: 1.5em;
    color: white;
}

.autor-imagem {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.creditos-item p {
    font-size: 1.2em;
    color: whitesmoke;
}
main{
    overflow-y: hidden;
}